<html>
               <head>
                              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
               </head>
 
               <body>
 
                              <p>TEST</p>
 
                              <div class="btn-group" style="margin:10px;">    <!-- CURRENCY, BOOTSTRAP DROPDOWN -->
                <!--<a class="btn btn-primary" href="javascript:void(0);">Currency</a>-->                   
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Gay_flag.svg/512px-Gay_flag.svg.png" width="100px"> Pride <span class="caret"></span></a>
                <ul class="dropdown-menu" id="image_select">
                             <li><a href="javascript:void(0);">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Gay_flag.svg/512px-Gay_flag.svg.png" width="100px"/> Pride</a>
                    </li>
                    <li><a href="javascript:void(0);">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/512px-Flag_of_the_United_States.svg.png" width="100px"/> USA</a>
                    </li>
                    <li><a href="javascript:void(0);">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Flag_of_France.png" width="100px"/>France</a>
                    </li>
                    <li><a href="javascript:void(0);">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1200px-Flag_of_the_United_Kingdom.svg.png" width="100px"/> UK</a>
                    </li>
                    <li><a href="javascript:void(0);">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1200px-Flag_of_Germany.svg.png" width="100px"/> Germany</a>
                    </li>
                    <li><a href="javascript:void(0);">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/1200px-Flag_of_Italy.svg.png" width="100px"/> Italy</a>
                    </li>
                </ul>
        </div>
 
 
 
 
 
                              <input type="file" id="myFile" size="50">
                              <button onclick="render_image()"
 
                              <p id="demo"></p>
 
                              <canvas id="imageCanvas"></canvas>
 
                              <div id="overlay_image">
                                             <img style="visibility:hidden" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Gay_flag.svg/512px-Gay_flag.svg.png"/>
                              </div>
 
               </body>
 
               <script>console.log("blackbird singing in the dead of night")
 
               var myFile = document.getElementById('myFile');
                              myFile.addEventListener('change', handleImage, false);
 
               //var image_select = document.getElementById('image_select');
               //            image_select.addEventListener('change', handleImage(myFile), false)
 
               var canvas = document.getElementById('imageCanvas');
               var ctx = canvas.getContext('2d');
 
 
               function myFunction(){
    var x = document.getElementById("myFile");
    var txt = "";
    if ('files' in x) {
        if (x.files.length == 0) {
            txt = "Select one or more files.";
        } else {
            for (var i = 0; i < x.files.length; i++) {
                txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                var file = x.files[i];
                if ('name' in file) {
                    txt += "name: " + file.name + "<br>";
                }
                if ('size' in file) {
                    txt += "size: " + file.size + " bytes <br>";
                }
            }
        }
    } 
    else {
        if (x.value == "") {
            txt += "Select one or more files.";
        } else {
            txt += "The files property is not supported by your browser!";
            txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead.
        }
    }
    document.getElementById("demo").innerHTML = txt;
 
               }
 
 
               function handleImage(e){
                              myFunction();
 
 
                              //var overlay_img = document.getElementById("scream");
 
                              //var selected_img = $('.dropdown-menu li a').find('img').attr('src');
                              //var added_img = '<img src="' + selected_img + '" style="visibility:hidden"/>';
 
                              //$('#scream').html = added_img
 
                              var overlay_img = $("#overlay_image img")[0];
                              console.log(overlay_img)  
 
                              var reader = new FileReader();
                              reader.onload = function(event){
                                             var img = new Image();
                                             img.onload = function(){
                                                            canvas.width = img.width;
                                                            canvas.height = img.height;
                                                            
 
                                                            ctx.drawImage(img, 0, 0);
                                                            ctx.globalAlpha = 0.5;
                                                            ctx.drawImage(overlay_img, 0, 0, img.width, img.height)
                                             }
                                             img.src = event.target.result;
 
                                             
 
                              }
 
                              reader.readAsDataURL(e.target.files[0]);
 
 
                              
               }
 
               $(".dropdown-menu li a").click(function () {
               var selText = $(this).text();
               var imgSource = $(this).find('img').attr('src');
 
               var img = '<img src="' + imgSource + '" width="100px"/>';       
               
               $(this).parents('.btn-group').find('.dropdown-toggle').html(img + ' ' + selText + ' <span class="caret"></span>');
               
               //var selected_img = $('.dropdown-menu li a').find('img').attr('src');
                              var added_img = '<img src="' + imgSource + '" style="visibility:hidden"/>';
                              console.log(added_img)
                              $('#overlay_image').html(added_img)
                              console.log($('#overlay_image').html())
 
 
});
 
               </script>
</html>