<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Work+Sans|Montserrat|Roboto+Condensed" rel="stylesheet">
	<title>Contact</title>
</head>

<body id ="no_portrait">
<div class="container">
	<header class="header">
		<div class ="header_title_wrapper">
			<h1 class ="header_title">
				<a href="./">Julia Gray</a>
			</h1>
		</div>
		<div class = "header_nav_wrapper">
			<ul class="header_nav">
				<li><a href ="./about">About</a></li>
				<li><a href="./almanac">Almanac</a></li>
				<li><a href ="./projects">Projects</a></li>
				<li><a href ="./posts">Blog</a></li>
				<li>Contact</li>
			</ul>
		</div>
	</header>

	<section class ="main_contact">
	<h2 class="contact_heading">Contact</br> JHydeGray@gmail.com</h2>
		<p class="main_content">If you're interested in collaborating or require more information you can reach my via the form below or another social media channel</p>
		<hr class="divider_part">
		<div class="contact_form">
			<form id="contact" action="http://formspree.io/JhydeGray@gmail.com" method="POST" class="form_group">
			<input type="text" name="name" id="name" placeholder="Name" required="required" class="input_text">
			<input type="email" name="_replyto" placeholder ="Email" required="required" class="input_text">
			<input type="hidden" name="_subject" value="JuliaGray.xyz submission">
			</div>
			<textarea rows="5" name="message" id="message" placeholder="Message" required="required" class="input-textarea"></textarea>
			<input type="submit" name="submit" value="Submit" id="submit_contact">
			</div>
			</form>
	</div>
	</section>
	</div>



<footer class ="footer">
	<div class="footer_info">
		<ul class="social_links">
			<li> <a href="mailto:juliahydegray@gmail.com" class="email">Email</a></li>
			<li> <a href="http://twitter.com/LilJGray" class="twitter">Twitter</a></li>
			<li> <a href="http://instagram.com/jgray4494" class="instagram">Instagram</a></li>
			<li> <a href="http://github.com/j4gray" class="github">Github</a></li>
		</ul>
		<p class="footnotes">Created by Julia Gray &#169; 2016.</p>
	</div>
</footer>


</body>
</html>
